<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<h1>Products</h1>

{% extends 'base.html'%}


{%block content%}
<div class="row">

    {%for product in products%}
    <div class="col">
        <div class="card" style="width: 18rem;">
  <img style="overflow:hidden" src="{{product.img_url}}" class="card-img-top " alt="...">
  <div class="card-body">
    <p class="card-text">

        ${{product.price}}
        {{product.name}}
        stock:{{product.stock}}




    </p>
  </div>
</div>
    </div>

    {% endfor %}
  </div>
{% endblock %}


</body>
</html>